#header {
  margin: 0 auto;
  height: 50px;
  background-color: #ebd59b;
}
html {
  font-family: 微軟正黑體;
  color: #213e7c;
}
input {
  margin: 5px;
}
body {
  margin: 0 auto;
  background-color: #f3eee1;
}
h2 {
  margin: 0 auto;
  text-align: center;
  line-height: 2;
}
div {
  margin: 10px;
}
table {
  font-family: 微軟正黑體;
  font-size: 15px;
  /* width: 250px; */
  /* text-align: center; */
  border-collapse: separate;
  border-spacing: 0;
}
th {
  background-color: #f7e4b0;
  padding: 10px;
  border: 1px solid rgb(29, 32, 70);
  color: rgb(29, 32, 70);
}
td {
  background-color: rgb(255, 250, 206);
  border: 1px solid rgb(29, 32, 70);
  padding: 5px;
}
th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 1px 9px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #213e7c;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
.backToStock a {
  margin: 0 265px;
  color: #eee;
  background-color: #213e7c;
  border: 2px solid #213e7c;
  border-radius: 5px;
  padding: 1px 9px;
  text-decoration: none;
}

/* form */
.form {
  width: 40%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type="text"],
input[type="mail"],
input[type="password"],
input[type="file"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"],
button {
  width: 100%;
  background-color: #213e7c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
  background-color: #213e7c;
}

/* navigation */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #213e7c;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #45a049;
}
